<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A meta generator for Apex Legends" />

    <title>Rand Lej</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>

  <body>
    <header>
      <a href="/">
        <h1>
          Rand Lej
        </h1> 
      </a>
    </header>
    <p id="tagline">
      Because everybody asks, <em>Where we droppin'?</em>
      <br>
      But nobody asks, <em>Who we droppin'?</em>
    </p>
    <p id="site-desc">
      Welcome to Rand Lej. 
      <br>
      <br>
      This tool is a squad randomizer for the battle royale game, Apex Legends.
      Hop in a room with your friends, and watch together, as the slot machine chooses your fate.
      If you're missing some legends, or just don't like to play them, you can toggle them in or out of the legend randomizers.
      <br>
      <br>
      Now get in there and secure some dubs!
    </p>
    <form action="./">
      <label>Enter room ID</label>
      <input type="text" name="roomId">
      <div class="padded">
        <input type="submit" id="join" value="Join">
      </div>
    </form>
  </body>
</html>
