<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- crack the cache -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0"/>
    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A meta generator for Apex Legends" />

    <title>Rand Lej</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>

  <body id="bod" roomId="<%= roomId %>">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <header class="padded">
      <a href="/">
        <h1 style="color:#373fff;font-weight:bold;">
          Rand Lej
        </h1> 
      </a>
    </header>
      
    <div id="slotmachine">
      <div class="slot" id="slot0">
        <div class="card" width="115" height="250" style="border: solid thick orange; box-shadow: 0 0 10px orange;">
          <div class="kard legend-name">
            <strong>Dummie</strong>
          </div>
          <img class="legend-pic" src="https://cdn.glitch.global/5fba9e63-a0f9-4df4-8cdc-134ede9a4405/dummie.png?v=1645584352373" height="180">
        </div>
        <h6 class="player-name">player_won</h6>
      </div>
      <div class="slot" id="slot1">
        <div class="card" width="115" height="250" style="border: solid thick lightblue; box-shadow: 0 0 10px lightblue;">
          <div class="kard legend-name">
            <strong>Dummie</strong>
          </div>
          <img class="legend-pic" src="https://cdn.glitch.global/5fba9e63-a0f9-4df4-8cdc-134ede9a4405/dummie.png?v=1645584352373" height="180">
        </div>
        <h6 class="player-name">player_too</h6>
      </div>
      <div class="slot" id="slot2">
        <div class="card" width="115" height="250" style="border: solid thick lightgreen; box-shadow: 0 0 10px lightgreen;">
          <div class="kard legend-name">
            <strong>Dummie</strong>
          </div>
          <img class="legend-pic" src="https://cdn.glitch.global/5fba9e63-a0f9-4df4-8cdc-134ede9a4405/dummie.png?v=1645584352373" height="180">
        </div>
        <h6 class="player-name">player_tree</h6>
      </div>
    </div>
    
    <div class="padded">
      <button id="spin"><strong id="spinText">Spin</strong></button>
    </div>
    
    <div class="padded">
      <hr>
      <h3>Toggle Legends</h3>
    </div>
    
    <div id="legendtoggle">
      <div>
        
      </div>
      <div>
        Johnny
      </div>
      <div>
        Test
      </div>
    </div>
    
  </body>
</html>
