/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

header {
  display: flex;
}

header > * {
  margin-right: 10px;
}

#tagline {
  color: #999999;
}

#site-desc {
  padding-top: 20px;
  padding-bottom: 20px;
}

#slotmachine {
  display: flex;
  width: 100%;
}

#slotmachine > * {
  flex-basis: 1 1 0px;
  margin: 5px 5px;
  padding: 5px 5px;
  width: 33%;
}

h1 {
  color: #373fff;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 64px;
  border-radius: 3px;
  background-color: blue;
  border: 1px solid grey;
  box-shadow: 3px 3px teal;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
}

#spinText {
  color: white;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

.player-name {
  text-align: center;
}

.legend-name {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #E6E2D9;
}

.legend-pic {
  width: 100%;
}

.padded {
  padding-left: 10px;
  padding-bottom: 20px;
}
